{% if site.comments.provider and page.comments %}
{% case site.comments.provider %}
  {% when "disqus" %}
    {% include /comments-providers/disqus.html %}
  {% when "discourse" %}
    {% include /comments-providers/discourse.html %}
  {% when "facebook" %}
    {% include /comments-providers/facebook.html %}
  {% when "staticman" %}
    {% include /comments-providers/staticman.html %}
  {% when "staticman_v2" %}
    {% include /comments-providers/staticman_v2.html %}
  {% when "utterances" %}
    {% include /comments-providers/utterances.html %}
  {% when "giscus" %}
    {% include /comments-providers/giscus.html %}
  {% when "custom" %}
    {% include /comments-providers/custom_scripts.html %}
{% endcase %}
{% endif %}

<script type="text/javascript" async
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	extensions: ["tex2jax.js"],
	jax: ["input/TeX", "output/HTML-CSS"],
	tex2jax: {
		inlineMath: [ ['$','$'], ["\\(","\\)"] ],
		displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
		processEscapes: true
	},
	"HTML-CSS": { availableFonts: ["TeX"] }
});
</script>